/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Apr 2021, 10:08:44 AM
    Author     : Aphiwe
*/

/*webplayer styling*/
.web-player .btn-playback-panel{min-height: 122px;}
.web-player .waveform-panel{min-height: 122px;}
.web-player .btn-mute-panel{min-height: 122px;}
.web-player .artwork-panel{min-height: 122px;}
.web-player .metadata-panel{min-height: 122px;}
.web-player .truncate{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
/*top navbar with logo*/
.navbar-fixed .nav-wrapper .brand-logo .brand-logo-64{height: 64px;}
/*bottom navbar with logo*/
.navbar-fixed .nav-wrapper .brand-logo .brand-logo-56{height: 56px;}
.logo.container{width: 90% !important;}
/*override bottom navbar styling*/
nav.override-position ul{text-align: center;}
nav.override-position ul li{display: inline; float: none;}
nav.override-position ul li a{display: inline-block;}
/*navbar unordered list and anchor tags*/
nav ul a:hover{background-color: rgba(0,0,0,0) !important;}
nav a{color: rgba(128,128,128,1) !important;}
/*orange circular label on the cart icon*/
.ui.circular.label{min-width: 2em; min-height: 2em; padding: .5em !important; line-height: 1em; text-align: center; border-radius: 500rem;}
.ui.tiny.label,.ui.tiny.labels .label{font-size: .71428571rem; color: rgba(255,255,255,1); font-weight: bold;}
.ui.floating.label{position: absolute; z-index: 100; top: -1em; left: 100%; margin: 0 0 0 -1.5em !important;}
/*sidenav component with page links*/
.sidenav li a{height: 56px !important; line-height: 56px !important; color: rgba(128,128,128,1) !important; font-size: 16px !important;}
.sidenav-active-style{padding-left: 50px !important; border-left: 4px solid rgba(128,128,128,1) !important;}         
.sidenav-li-a-hover-none{pointer-events: none;}
/*main and body tag styling*/
main{flex: 1 0 auto;}
body{display: flex; min-height: 100vh; flex-direction: column;}
/*slider componet*/ 
.slider.white-text .slides{background-image: linear-gradient(to top left, rgba(255,255,255,1), rgba(128,128,128,1));}
.slider.white-text .slides li .caption{color: rgba(255,255,255,1);}
.slider.white-text .indicators .indicator-item.active{background-color: rgba(128,128,128,1);}
/*login modal component*/
#modal-default-authorization{border-radius: 20px 20px 0 0; max-height: 100% !important;}
#modal-default-authorization-trigger.btn:hover{background-color: rgba(128,128,128,1) !important;}
.login.btn.btn-round.waves-effect.waves-light.grey.submit.btn:hover{background-color: rgba(128,128,128,1) !important;}
.register.btn.btn-round.waves-effect.waves-light.grey.white-text.btn:hover{background-color: rgba(128,128,128,1) !important;}
/*forgot-password button on the login modal*/
#forgot-password.btn:hover{background-color: rgba(128,128,128,0) !important;}
/*add to cart button on the release page*/
#btn-add-to-cart.btn:hover{background-color: rgba(128,128,128,1) !important;}
/*add to cart button on the release page*/
#btn-remove-from-cart.btn:hover{background-color: rgba(128,128,128,0.0) !important;}
/*style classes*/
.top{top: 0;}
.bottom{bottom: 0;}
.btn-round{border-radius: 50px;}
.btn-block{width: 100%;}
.btn-25{width: 25%;}
.block{width: 100%; height: 100%;}
.vh-100{height: 100vh;}
.vh-90{height: 90vh;}
.w-100{width: 100%;}
.w-10{width: 10%;}
.h-100{height: 100%;}
.pin-sticky{position: sticky;}
.pin-absolute{position: absolute !important;}
.no-padding-top{margin-top: auto !important;}
.no-padding-bottom{margin-bottom: auto !important;}
.padding-left-4{padding-left: 4px;}
.z-index-5{z-index: 1000;}
.z-index-4{z-index: 999;}
.z-index-3{z-index: 997;}
.font-weight-bold{font-weight: bold;}
/*.bottom{position: absolute; bottom: 0;}*/
.whitesmoke{background-color: whitesmoke !important;}
/*remove border on release table*/
.no-border-bottom{border-bottom: none;}
/*change border width on account menu*/
.border-bottom-thick-solid-white{border-bottom: solid #ffffff; border-width: thick;}
/*override toast for all screen sizes*/
#toast-container{top: auto !important; bottom: 0 !important; left: auto !important; right: 0 !important; min-width: 100%;}
/*override blockquote style on cart*/
blockquote{border-color: rgba(245,245,245,1);}
/*overide card-content on the Shop by Genre and Whats New section*/
.padding{padding: 7px 0px 0px 0px !important;}
#card-item .card-image{width: 250px !important;}
#card-item .card-content{padding-top: 0 !important;}
.card .card-shopping {background-color: orange; width: 100%; height: 15%;}
.card .card-shopping .btn-square{width: 15%; height: 100%;}
.card .card-shopping .btn-rectangle{width: 70%; height: 100%;}
/*resize webplayer icons and footer social media icons*/
.fa-play, .fa-pause, .fa-shopping-bag, .fa-cart-plus, .fa-check, .fa-smile, .fa-facebook-f, .fa-twitter, .fa-whatsapp, .fa-exclamation-triangle, .fa-heart, .fa-trash {font-size: 16px !important;}
/*resize the image on the toast*/
#notification-toast-img{width: 30px !important;}
/*left align text on the toast conatiner*/
#notification-toast-text{position: absolute; float: left; padding-left: 40px;}
/*nn the profile menu, resize table to full width of the division*/
.display-table{display: table;}
/*collapse borders into a single border*/
.border-collapse-collapse{border-collapse: collapse;}
/*show table rows*/
.display-table-row{display: table-row;}
/*add bottom-border on account menu options*/
.border-bottom-1px-solid-whitesmoke{border-bottom: 1px solid whitesmoke;}
/*cad text of account menu options*/
.menu-option-padding{padding: 5px 0 5px 20px;}
/*change the minimum height of the stream message modal for small screens*/
.modal.bottom-sheet.stream{min-height: 100% !important;}
/*change the minimum height of the authorization modal for small screens*/
.modal.bottom-sheet.authorization{min-height: 80% !important; border-radius: 20px 20px 0 0;}

@media screen and (max-width: 480px)
{
    /*change size of toast image on small screens*/
    #notification-toast-img{width: 30px !important;}
    /*Change position toast text on small screens */
    #notification-toast-text{position: absolute; float: left; padding-left: 40px;}
    /*modify padding-bottom of footer on small screens */
    footer{padding-bottom: 56px;}
}