/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04 Jun 2021, 7:15:23 AM
    Author     : Aphiwe
*/

nav a{color: rgba(128,128,128,128) !important;}
nav ul a:hover{background-color: rgba(0,0,0,0) !important;}

.navbar-fixed .nav-wrapper .brand-logo .brand-logo-64{height: 64px;}
.navbar-fixed .nav-wrapper .brand-logo .brand-logo-56{height: 56px;}

.sidenav li a{height: 56px !important; line-height: 56px !important;	color: rgba(128,128,128,1) !important; font-size: 16px !important;}
.sidenav-active-style{padding-left: 50px !important; border-left: 4px solid rgba(128,128,128,1) !important;}
.sidenav-li-a-hover-none{pointer-events: none;}

.ui.circular.label{min-width: 2em; min-height: 2em; padding: .5em !important; line-height: 1em; text-align: center; border-radius: 500rem;}
.ui.tiny.label,.ui.tiny.labels .label{font-size: .71428571rem; color: rgba(255,255,255,1); font-weight: bold;}
.ui.floating.label{position: absolute; z-index:100; top:-1em; left: 100%; margin:0 0 0 -1.5em !important;}

nav.override-position ul{text-align: center;}
nav.override-position ul li{display: inline; float: none;}
nav.override-position ul li a{display: inline-block;}

.input-field input:focus+label, .materialize-textarea:focus:not([readonly])+label{color: rgba(211,211,211,1) !important;}
.input-field input:focus, .materialize-textarea:focus:not([readonly]){border-bottom: 1px solid rgba(211,211,211,1) !important; box-shadow: 0 1px 0 0 rgba(211,211,211,1) !important;}
.input-field .prefix.active{color: rgba(211,211,211,1);}

main{flex: 1 0 auto;}
body{display: flex; min-height: 100vh; flex-direction: column;}

#modal-authorization-trigger.btn{border-radius: 50px;}
#modal-authorization-trigger.btn:hover{background-color: rgba(128,128,128,1) !important;}
#forgot-password.btn:hover{background-color: rgba(128,128,128,0) !important;}

.whitesmoke{background-color: rgba(245,245,245,1);}

.display-table{display: table;}
.w-100{width: 100%;}
.border-collapse-collapse{border-collapse: collapse;}

.display-table-row{display: table-row;}
.vertical-align-middle{vertical-align: middle;}
.w-100{width: 100%;} 
.height{height: 50%;} 
.border-bottom-1px-solid-whitesmoke{border-bottom: 1px solid whitesmoke;}

.menu-option-padding{padding: 5px 0 5px 20px;}
.font-weight-bold{font-weight: bold;}

.btn-round{border-radius: 50px;}
.z-index-5{z-index: 1000;}
.z-index-4{z-index: 999;}
.bottom{position: absolute; bottom: 0;}
.list-style-type-square{list-style-type: square;}

@media screen and (max-width: 480px)
{
    footer{padding-bottom: 56px;}
}